<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGj-0TcIZ32kSP_PwYGaKsKApSw8REbDU</string>
	<key>GCM_SENDER_ID</key>
	<string>657811297689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtuetracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>virtuetracker</string>
	<key>STORAGE_BUCKET</key>
	<string>virtuetracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657811297689:ios:395c657d6769b5bce5af08</string>
</dict>
</plist>